.outer-container, .main-container {
  @include outer-container;
}

.container {
  @include outer-container;
  @include pad($base-padding);
}

// Extra space on the top/btm for block elements
.offset-y-lg {
  margin: $base-margin*4 auto;
}

.offset-y-md {
  margin: $base-margin*2 auto;
}

// Grid
.three-quarter {
  @include span-columns(8 of 12);
  @include omega();
}

.half {
  @include span-columns(6 of 12);
  @include omega(2n);
}

.third {
  @include span-columns(4 of 12);
  @include omega(3n);
}

.quarter {
  @include span-columns(3 of 12);
  @include omega(4n);
}

// Directional
.left {
  float: left;
}

.right {
  float: right;
}
